<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<div style="position: absolute;
top: 30%;
left: 40%">
<h2  >Dictionary</h2>
<form method="post" action="/add_word">
    <input type="text" name="text">
    <button type="submit" class="btn btn-dark">Do it</button>
</form>

<div style="
top: 5em;
right: 20em">
<h3  >History</h3>
{% for word in words %}
<div >{{ word}}</div>
{% endfor %}
</div>


<div style="
top: 5em;
left: 20em">
<h3>Defenition</h3>
{% for defenition in defenitions%}
<div>{{ defenition}}</div>
{% endfor %}
</div>
</body>
</html>